@font-face {
    font-family: "arialItalic";
    src: url(//../assets/font/Arial\ Italic.ttf);
    font-family: "arial";
    src: url(//..//assets/font/ofont.ru_Arial.ttf);
    font-family: "georgiaItalic";
    src: url(//..//assets/font/georgia\ italic.ttf);
    font-family: "georgia";
    src: url(//..//assets/font/Georgia\ Regular\ font.ttf);
}

* {
    margin: 0
}

body {
    font-family: "arial";
    width: 1280px;
   
}
.a{
    background: url("../../assets/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.page1 {
    width: 1280px;
    margin: 0 auto -45px;
}

header {
    
    display: flex;
   

}

.title-h1 {
    font-family: "georgia";
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
}

.title-h1 span {
    display: block;
    font-family: "arial";
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.1em;
    padding: 0 0px 0 4px;
}

.page1-list {
    display: flex;
    justify-content: space-between;
    width: 443px;
    list-style-type: none;
    padding: 0 0 0 0;
}

.page1-list-item1 {
    color: #FAFAFA;
    font-size: 15px;

    text-decoration: none;
    border-bottom: 3px #F1CDB3 solid;
}

.page1-list-item1:hover {
    border-bottom: none;
    color: #fff;
}

.page1-list-item {

    font-size: 15px;
    text-decoration: none;
    color: #CDCDCD;
    transition: 0.3s;
}

.page1-list-item:hover {
    color: #fff;
}

.page1-title {
    margin: 61px 0px 0 40px;
}

.page1-navigation {
    margin: 80px 0 0 571px;
}

.not-only {
    display: flex;
  
}

.puppy {
    background-image: url("../../assets/start-screen-puppy.png");
    width: 698px;
    background-repeat: no-repeat;
    display: block;
    height: 728px;
    margin: 46px 0 0 42px;
}

.not-only-block {
    width: 460px;
    margin: 212px 0px 0px 41px;
}

.not-only-block>h1 {
    font-weight: 400;
    font-size: 44px;
    font-family: "georgia";
    line-height: 130%;
    color: #FFFFFF;
    width: 310px;
}

.not-only-block>p {
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    font-family: "arial";
    margin: 42px 0 0 -1px;
}

.btn-primary {
    color: #292929;
    font-size: 17px;
    font-family: "georgia";
    font-weight: normal;
    letter-spacing: 0.06em;
    border: 1px solid #F1CDB3;
    padding: 16px 44px;
    outline: none;
    transition: 0.5 s;
    background: #F1CDB3;
    border-radius: 100px;
}

.btn-primary:hover {
    background: #FDDCC4;
    border: 1px solid #FDDCC4;
}

.position-button {
    margin: 40px 0 0 -1px;
}

.about {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0px 0 95px 68px;
    justify-content: space-around;
    
}

.cat-dog {
    background-image: url(../../assets/about-pets.png);
    display: block;
    width: 300px;
    height: 408px;
    margin: 127px 0 0 72px;
}

.page2-text {
    width: 430px;
    margin: 144px 141px 0px -19px;
}

.page2-text>h1 {
    font-family: 'georgia';
    font-weight: 400;
    width: 370px;
    font-size: 35px;
    line-height: 130%;
    margin: 0px 5px 24px 0px;
    letter-spacing: 0.06em;
    color: #545454;
}

.page2-text>p {
    font-family: 'arial';
    font-size: 15px;
    line-height: 160%;
    margin: 0 0px 27px 1px;
    font-weight: normal;
    color: #4C4C4C;
}

.page2-text>h3 {
    font-family: 'arial';
    font-size: 15px;
    line-height: 160%;
    margin: 0 0 0px 1px;
    align-items: center;
    font-weight: 400;
    color: #4C4C4C;
}

.our-friends {
    background: #F6F6F6;
    width: 1280;
    margin: 0 auto;
    height: 877px;
    padding: 7px 68px 0 0px;
}
.wrap{
    width: 1280px;
    margin: 0 auto;
}
.page3-text {
    width: 1200px;
    position: absolute;
    margin: 83px 0px 0px 41px;


}

.page3-text>h1 {
    margin: 0 auto;
    width: 400px;
    display: flex;
    text-align: center;
    font-family: 'georgia';
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.page3-list {
    position: absolute;
    padding: 228px 0 0 0;
}

.photos {
    display: flex;
    list-style-type: none;
}

.button {
    border: 2px solid #F1CDB3;
    outline: none;
    background: #F6F6F6;
    border-radius: 71px;
    line-height: 12px;
    padding: 17px 17px;
    height: 52.8px;
    transition: 0.5s;
}

.button:hover {
    background: #FDDCC4;
}

.white-rectangle {
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    transition: 0.5s;
}

.white-rectangle:hover {
    background-color: #fff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}

.first-animal {
    background-image: url(../../assets/cat.png);
    display: block;
    position: absolute;
    margin: 30px 0px 0 34px;

    Width: 200px;
    Height: 240px;
}

.second-animal {
    background-image: url(../../assets/white-dog.png);
    display: block;
    position: absolute;
    margin: 30px 0px 0 34px;

    Width: 200px;
    Height: 240px;
}

.third-animal {
    background-image: url(../../assets/yellow-dog.png);
    display: block;
    position: absolute;
    margin: 30px 0px 0 34px;
    Width: 200px;
    Height: 240px;
}

.list-stile-item1 {
    margin: 196px 0 0 0;
}

.list-stile-item2 {
    margin: 2px 0px 0 53px;
}

.list-stile-item3 {
    margin: 3px 0px 0 90px;
}

.list-stile-item4 {
    margin: 3px 0px 0 90px;
}

.list-stile-item5 {
    margin: 196px 0 0 53px;
}

.name-dog {
    font-family: 'georgia';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin: 302px 0 0 98px;
    position: absolute;
    letter-spacing: 0.06em;
    color: #545454;
}

.name-dog1 {
    font-family: 'georgia';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    margin: 301px 0 0 93px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.name-dog2 {
    font-family: 'georgia';
    font-style: normal;
    font-weight: normal;
    position: absolute;

    font-size: 20px;
    margin: 301px 0 0 101px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.learn-more {
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    width: 187px;
    height: 52px;
    margin: 355px 0 0 41px;
    outline: none;
    font-family: "georgia";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
    position: absolute;
    background-color: #fff;
    letter-spacing: 0.06em;
    transition: 0.5s;
}

.learn-more:hover {
    background-color: #FDDCC4;
}

.get-know {
    position: absolute;
    margin: 728px 0 0 510px;
    transition: 0.5s;
    font-family: 'georgia';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    width: 261px;
    height: 52px;
    border-radius: 100px;
    outline: none;
    border: 3px solid #F1CDB3;
    background: #F1CDB3;
}

.get-know:hover {
    background: #FDDCC4;
    border: 3px solid #FDDCC4;
}

.help {
    width: 1280px;
    margin: 0 auto;
    padding: 0 70px 0 0;
    height: 527px;
}

.help>h1 {
    font-family: 'georgia';
    width: 313px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 84px 0 0 485px;
}

.help-list-block {
    list-style-type: none;
    display: flex;

    margin: 58px 0px 0 86px;

}

.items {
    font-family: 'georgia';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 26px 0 0 0px;
}

.help-list-block>li {
    margin: 0 120px 0 0;


    text-align: center;
    align-items: center;
}

.items2 {
    font-family: 'georgia';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 26px 0 0 7px;
}

.help-list-block2 {
    list-style-type: none;
    display: flex;
    margin: 56px 0px 0 170px;

}

.help-list-block2>li {
    margin: 0 120px 0 0;
    text-align: center;
    align-items: center;
}

.in-addition {
   
    background: #F6F6F6;
    margin-top: -8px;
    margin-bottom: 6px;
    

   
}
.im{
    padding: 0 70px 0 0;
    display: flex; width: 1280px;
    height: 464px; margin: 0 auto;
}
.dog-addition {
    background-image: url(../../assets/donation-dog.png);
    width: 505px;
    height: 261px;
    display: block;
    margin: 95px 0 0 181px;
    background-repeat: no-repeat;
}

.in-addition-block {
    margin: 70px 0 0px 29px;
}

.in-addition-block>h1 {
    font-family: 'georgia';
    width: 300px;
    height: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.in-addition-block>h2 {
    width: 363px;
    height: 17px;
    font-family: 'georgia';
    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.in-addition-block>a {
    text-decoration: none;
    margin: 20px;
}

.number {
    width: 349px;
    display: flex;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    transition: 0.5s;
}

.number:hover {
    background: #FDDCC4;
}

.number-position {
    font-family: 'georgia';
    letter-spacing: 0.06em;
    color: #545454;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    line-height: 110%;
    margin: 12px 0 0 15px;
    width: 275px;
    border:none;
    height: 23px;
}

.card-position {
    width: 30px;
    margin: 10px 0 0 15px;
    height: 23px;
}

.in-addition-block>p {
    font-family: 'arial';
    width: 380px;
    height: 72px;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;

    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;

}

footer {
    background: url(../../assets/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    
    
}

.last-page {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    height: 355px;
    padding: 0 70px 0 0;
}

.footer-list {
    width: 278px;
    height: 234px;
    margin-top: 65px;
    margin-right: 0px;
    list-style-type: none;
}

.footer-item1 {
    font-family: 'georgia';
    font-style: normal;
    width: 280px;
    height: 90px;
    font-weight: normal;
    font-size: 35px;
    margin: 0 0 0 0;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-item2 {
    display: flex;
    
    font-family: 'georgia';

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.footer-item2>p{
    margin: 46px 0 0 60px;
    
}
.icon1{
    position: absolute;

    margin: 41px 0 0 0px;

}
.footer-item3 {
    display: flex;
    font-family: 'georgia';
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.footer-item3>p{
    margin: 51px 0 0 60px;
    
}
.icon2{
    position: absolute;
    margin: 41px 0 0 0px;

}
.footer-list2 {
    width: 278px;
    height: 234px;
    margin-top: 65px;
    margin-left: 121px;
    list-style-type: none;
}
.h{
    position: absolute;
    width: 317px;
    height: 46px;
    margin: -14px 0 0 -19px;
}
.icon3{
    position: absolute;
    margin: 41px 0 0 0px;

}
.footer-position{
    margin: 51px 0 0 18px;
}
.icon4{
    position: absolute;
    margin: 108px 0 0 -1px;

}
.m>p{
    margin: 114px 0 0 41px
}
.footer-pupy{
    background-image:url(../../assets/footer-puppy.png);
    display: block;
    width: 300px;
    margin: 39px 0 0 182px;
    height: 315px;
}
@media(max-width:1280px){
    .a{
        background: url("../../assets/noise_transparent@2x.png"),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
        width: 770px;
        height: 1165px;
    }
    .page1 {
        width: 770px;
        margin: 0 0 0 0;
    }
    
    
    
    
   
    
    
    
    .page1-title {
        margin: 31px 0 0 29px;
    }
    
    .page1-navigation {
        margin: 50px 0 0 80px;
    }
    
    
    .puppy {
        position: absolute;
        margin: 403px 0 0 105px;
        transform: scale(0.81);
    }
    
    .not-only-block {
        width: 460px;
        margin: 51px 0px 0px 153px;
    }
    
    .not-only-block>h1 {
        
        width: 460px;
        
        width: 310px;
    }
    
    .not-only-block>p {
        width: 460px;
        font-size: 15px;
        line-height: 160%;
        margin: 42px 0 0 1px;
        color: #CDCDCD;
        font-family: "arial";
        margin: 42px 0 0 -1px;
    }
    
 
    
    .position-button {
        margin: 42px 0 0 126px;
    }
    
    .about {
        width: 770px;
        height: 965px;
        display: flex;
        padding: 0px 0 95px 68px;
        justify-content: space-around;
        
    }
    
    .cat-dog {
        position: absolute;
        background-image: url(../../assets/about-pets.png);
        display: block;
        width: 300px;
        height: 408px;
        margin: 540px 0 0 -584px;
    }
    
    .page2-text {
        width: 430px;
        margin: 84px 581px 0px 0px
    }
    
    
    
    .page2-text>p {
        width: 430px;
        font-family: 'arial';
        font-size: 15px;
        line-height: 160%;
        margin: 0 0px 27px 1px;
        font-weight: normal;
        color: #4C4C4C;
    }
    
    .our-friends {
        background: #F6F6F6;
        width: 770px;
        margin: -7px 509px 0px 0px;
        height: 877px;
        
    }
        
        .wrap{
            width: 770px;
            margin: 0 0 0 0 ;
        }
        .page3-text {
            width: 770px;
            position: absolute;
           margin: 70px 0px 0px 0px;
        
        
        }
        
        .page3-text>h1 {
            margin: 0 auto;
            width: 400px;
            display: flex;
            text-align: center;
            font-family: 'georgia';
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .page3-list {
            position: absolute;
            padding: 228px 0 0 0;
        }
        
        .photos {
            display: flex;
            list-style-type: none;
        }
        
        .button {
            border: 2px solid #F1CDB3;
            outline: none;
            background: #F6F6F6;
            border-radius: 71px;
            line-height: 12px;
            padding: 17px 17px;
            height: 52.8px;
            transition: 0.5s;
        }
        
        .button:hover {
            background: #FDDCC4;
        }
        
        .white-rectangle {
            background-color: #FAFAFA;
            width: 270px;
            height: 435px;
            transition: 0.5s;
        }
        
        .white-rectangle:hover {
            background-color: #fff;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        
        }
        
        .first-animal {
            background-image: url(../../assets/cat.png);
            display: block;
            position: absolute;
            margin: 28px 0px 0 42px;
            Width: 200px;
            Height: 240px;
            transform: scale(0.9);
        }
        
        .second-animal {
            background-image: url(../../assets/white-dog.png);
            display: block;
            position: absolute;
            margin: 37px 0px 0 43px;
        
            Width: 200px;
            Height: 240px;
        }
        
        .third-animal {
            background-image: url(../../assets/yellow-dog.png);
            display: block;
            position: absolute;
            margin: 37px 0px 0 43px;
            Width: 200px;
            Height: 240px;
        }
        
        .list-stile-item1 {
            margin: 180px 0 0 -11px;
        }
        
        .list-stile-item2 {
            margin: -12px 0px 0 13px;
        }
        
        .list-stile-item3 {
            margin: -11px 50px 0 39px;
        }
        
        .list-stile-item4 {
            visibility: hidden;
        }
        
        .list-stile-item5 {
            margin: 180px 0 0 -398px;
        }
        
        .name-dog {
          
            margin: 302px 0 0 98px;
         
        }
        
        .name-dog1 {
           
            margin: 301px 0 0 93px;
           
        }
        
        .name-dog2 {
            
            margin: 301px 0 0 101px;
           
        }
        
        .learn-more {
            border-radius: 100px;
            border: 2px solid #F1CDB3;
            width: 187px;
            height: 52px;
            margin: 355px 0 0 41px;
         
        }
        
        
        
        .get-know {
            position: absolute;
            margin: 712px 0 0 253px;
            
        }
        
        
        
        .help {
            width: 770px;;
            margin:0 0px 0 0 ;
           
            height: 698px;
        }
        .help-list1{
            margin: 2px 0 0 -13px;
        }
        .help-list2{
            margin: 2px 0 0 -109px;
        }
        .help>h1 {
            font-family: 'georgia';
            width: 313px;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 69px 0 0 228px;
        }
        
        .help-list-block {
            list-style-type: none;
            display: flex;
        
            margin: 55px 0px 0 51px
        
        }
        
        .items {
            font-family: 'georgia';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 115%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 26px 0 0 0px;
        }
        
        .help-list-block>li {
            margin: 0 120px 0 0;
        
        
            text-align: center;
            align-items: center;
        }
        .responsive_food{
            position: absolute;
            padding: 7px 0 0 36px;
        }
        .responsive_transportation{
            position: absolute;
            padding: 6px 2px 18px 230px;
        }
        .responsive_toys{
            position: absolute;
            padding: 5px 0 0 505px;
        }
        .responsive_bowls{
            position: absolute;
            padding: 174px 0 0 0;
        }
       .responsive_shampoos{
             position: absolute;
             padding: 176px 0 0 255px;
       }
       .responsive_vitamin{
        position: absolute;
        padding: 118px 0 0 468px
       }
       .responsive_medicine{
        position: absolute;
        padding: 286px 0 0 3px;
       }
       .responsive_collars{
        position: absolute;
        padding: 286px 0 0 200px;
       }
       .responsive_sleeping{
        position: absolute;
        padding: 285px 0 0 441px;
       }
        .items2 {
            font-family: 'georgia';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 115%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 26px 0 0 7px;
        }
        
        .help-list-block2 {
            list-style-type: none;
            display: flex;
            margin: 56px 0px 0 170px;
        
        }
        
        .help-list-block2>li {
            margin: 0 120px 0 0;
            text-align: center;
            align-items: center;
        }
        
        .in-addition {
            width: 770px;
            background: #F6F6F6; 
            margin: 0 0 0 0;
        }
        .im{
            padding: 0 0px 6px 0;
            display: flex; width: 770px;
            height: 783px; margin: 0 0 0 0 ;
        }
        .dog-addition {
            position: absolute;
            background-image: url(../../assets/donation-dog.png);
            width: 505px;
            height: 261px;
            display: block;
            margin: 421px 0 0 131px;
            background-repeat: no-repeat;
        }
        
        .in-addition-block {
            margin: 62px 0 0px 193px;
        } 
        
        footer {
            width: 770px;
            
    margin: -4px 0 0 0;
            height: 639px;
            background: url(../../assets/noise_transparent@2x.png),
            radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
            
            
        }
        
        .last-page {
            display: flex;
            width: 770px;
            margin: 0 0 0 0;
            height: 355px;
            padding: 0 0 0 0;
        }
        
        .footer-list {
            width: 278px;
            height: 234px;
            margin: 30px 0 0px 24px;
            list-style-type: none;
        }
        
    
        
     
        .footer-list2 {
            position: absolute;
            width: 278px;
            height: 234px;
            margin-top: 65px;
            margin-left: 121px;
            list-style-type: none;
            margin: 31px 0 0 364px;
        }
     
      
        .footer-pupy{
            background-image:url(../../assets/footer-puppy.png);
            display: block;
            width: 300px;
            margin: 322px 0 0 -108px;
            height: 315px;
        }
    
}
@media(max-width:770px){
    .a{
        background: url("../../assets/noise_transparent@2x.png"),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
        width: 322px;
        height: 823px;
    }
    .burger-main{
        position: absolute;
        background-image:url(../../assets/Burger-main.png);
        display: block;
        width: 30px;
        height: 32px;
        margin: 49px 0 0px 238px;
    }
     
    .page1-title {
        margin: 31px 0 0 10px;
    }
    
    .page1-navigation {
        margin: 50px 0 0 80px;
        visibility: hidden;
    }
    
    
    .puppy {
        position: absolute;
        margin: 225px 0 0 -168px;
        transform: scale(0.38);
    }
    
    .not-only-block {
        width: 460px;
        margin: 51px 0px 0px 153px;
    }
    
    .not-only-block>h1 {
        
        width: 259px;
        height: 64px;
        font-size: 25px;
line-height: 130%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
margin: -2px 0px 0 -121px;
    }
    
    .not-only-block>p {
        width: 291px;
        text-align: center;
        font-size: 15px;
        line-height: 160%;
        margin: 42px 0 0 1px;
        color: #CDCDCD;
        font-family: "arial";
        margin: 42px 0 0 -139px;
    }
    
 
    
    .position-button {
        margin: 42px 0 0 -97px;
    }
    
    .about {
        width: 322px;
        height: 877px;
        display: flex;
        padding: 0px 0 95px 68px;
        justify-content: space-around;
        
    }
    
    .cat-dog {
        position: absolute;
        background-image: url(../../assets/about-pets.png);
        display: block;
        width: 300px;
        height: 408px;
        transform: scale(0.87);
        margin: 549px 0 0 -1028px;
    }
    
    .page2-text {
        width: 251px;
        margin: 31px 581px 0px -468px;
    }
    
    
    .page2-text>h1{
        width: 292px;
height: 64px;
font-weight: normal;
font-size: 25px;
line-height: 130%;
text-align: center;
letter-spacing: 0.06em;
margin: 9px 0px 27px -9px;

    }
    .page2-text>p {
        width: 269px;
        text-align: justify;
        font-family: 'arial';
        font-size: 15px;
        line-height: 160%;
        margin: 0 0px 27px 1px;
        font-weight: normal;
        color: #4C4C4C;
        
    }
    .page2-text>h3 {
        width: 269px;
        text-align: justify;
        
    }
    
    .our-friends {
        background: #F6F6F6;
        width: 322px;
        margin: -6px 509px 0 0px;
           height: 795px;
        
    }
        
        .wrap{
            width: 322px;
            margin: 0 0 0 0 ;
        }
        .page3-text {
            width: 322px;
            position: absolute;
           margin: 70px 0px 0px 0px;
        
        
        }
        
        .page3-text>h1 {
           
            width: 400px;
            display: flex;
            text-align: center;
            font-family: 'georgia';
            font-weight: normal;
            font-size: 25px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
            margin: -26px 0 0 18px;
        }
        
        .page3-list {
            position: absolute;
            padding: 156px 0px 0 0px;
        }
        
        .photos {
            display: flex;
            list-style-type: none;
            margin: 4px 0px 0 -27px;
        }
        
       
        
      
        .first-animal {
            background-image: url(../../assets/cat.png);
            display: block;
            position: absolute;
            margin: 28px 0px 0 42px;
            Width: 200px;
            Height: 240px;
            transform: scale(0.9);
        }
        
        .second-animal {
            background-image: url(../../assets/white-dog.png);
            display: block;
            position: absolute;
            margin: 37px 0px 0 43px;
        
            Width: 200px;
            Height: 240px;
        }
        
        .third-animal {
            background-image: url(../../assets/yellow-dog.png);
            display: block;
            position: absolute;
            margin: 37px 0px 0 43px;
            Width: 200px;
            Height: 240px;
        }
        
        .list-stile-item1 {
            position: absolute;
            margin: 444px 0 0 54px;
        }
        
        .list-stile-item2 {
            margin: -12px 0px 0 13px;
        }
        
        .list-stile-item3 {
            margin: -11px 50px 0 39px;
            visibility: hidden;
        }
        
        .list-stile-item4 {
            visibility: hidden;
        }
        
        .list-stile-item5 {
            margin: 443px 0 0 -815px;
        }
        
        .get-know {
            position: absolute;
            margin: 699px 0 0 29px;
          
            
        }
        
        
        
        .help {
            width: 322px;;
            margin:0 0px 0 0 ;
           
            height: 698px;
        }
        .help-list1{
            margin: 2px 0 0 -13px;
        }
        .help-list2{
            margin: 2px 0 0 -109px;
        }
        .help>h1 {
            font-family: 'georgia';
            width: 223px;
            height: 64px;
            font-size: 25px;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 40px 0 0 49px;
        }
        
        .help-list-block {
            list-style-type: none;
            display: flex;
        
            margin: 55px 0px 0 -22px;
        
        }
        
        .items {
            font-family: 'georgia';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 115%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 26px 0 0 0px;
        }
        
        .help-list-block>li {
            margin: -31px 120px 0 0px;
        
            transform: scale(0.76);
            text-align: center;
            align-items: center;
        }
        .responsive_food{
            position: absolute;
            padding: 7px 0 0 36px;
        }
        .responsive_transportation{
            position: absolute;
            padding: 4px 2px 18px 179px;
        }
        .responsive_toys{
            position: absolute;
            padding: 139px 0 0 51px;
        }
        .responsive_bowls{
            position: absolute;
             padding: 140px 0 0 180px;
        }
       .responsive_shampoos{
             position: absolute;
             padding: 274px 0 0 26px;
       }
       .responsive_vitamin{
        position: absolute;
        padding: 173px 0 0 214px;
       }
       .responsive_medicine{
        position: absolute;
        padding: 305px 0 0 24px;
       }
       .responsive_collars{
        position: absolute;
        padding:307px 0 0 170px;
       }
       .responsive_sleeping{
        position: absolute;
        padding: 438px 0 0 0px;
       }
       .items{
        margin: 26px 0 0 2px;
       }
        .items2 {
            font-family: 'georgia';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 115%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 26px 0 0 7px;
        }
        
        .help-list-block2 {
            list-style-type: none;
            display: flex;
            margin: 56px 0px 0 170px;
        
        }
        
        .help-list-block2>li {
            margin:1px 120px 0 -95px;
            text-align: center;
            transform: scale(0.76);
            align-items: center;
        }
        
        .in-addition {
            width: 322px;
            background: #F6F6F6; 
        }
        .im{
            padding: 0 0px 0 0;
            display: flex; width: 322px;
            
        height: 549px;
       margin: 0 0 0 0 ;
        }
        .dog-addition {
            position: absolute;
            background-image: url(../../assets/donation-dog.png);
            width: 505px;
            height: 261px;
            display: block;
            
            margin: 305px 0 0 -93px;
            transform: scale(0.51);
            background-repeat: no-repeat;
        }
        
        .in-addition-block {
            margin: 14px 0 0px 55px;
        } 
        .in-addition-block>h1{
            font-size: 25px;
            text-align: center;
            width: 210px;;
        }
       
        .in-addition-block>h2{
           letter-spacing: normal;
            font-size: 15px;
            margin: 10px 0 0 -32px;
        }
        .number{
            width: 282px;
            height: 43px;
            margin: 6px 0px 0 -37px;
        }
        .number-position{
            font-size: 15px;
        }
        .in-addition-block>p{
            width: 280px;
            font-style: italic;
            text-align: justify;
            
    margin: 8px 0 0 -35px;
        }
        footer {
            width: 322px;
            height: 809px;
            background: url(../../assets/noise_transparent@2x.png),
            radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
            
            
        }
        .footer-item1{
            font-size: 25px;
            text-align: center;
            margin: 1px 0 0 -44px;
        }
        .footer-item2{
            margin: -27px 0px 0 -30px;
        }
        .footer-item3{
            margin: 0px 0 0 -25px;
        }
        
        .last-page {
            display: flex;
            width: 322px;
            margin: 0 0 0 0;
            height: 355px;
            padding: 0 0 0 0;
        }
        
        .footer-list {
            width: 278px;
            height: 234px;
            margin: 30px 0 0px 24px;
            list-style-type: none;
        }
        
    
        
     
        .footer-list2 {
            position: absolute;
            width: 278px;
            height: 234px;
            margin-top: 65px;
            margin-left: 121px;
            list-style-type: none;
            margin: 278px 0 0 24px;
        }
        .h{
            margin: -32px 0 0 -72px;
        }
     .m{
        margin: -11px 0 0 -53px;
     }
      
        .footer-pupy{
            background-image:url(../../assets/footer-puppy.png);
            display: block;
            width: 300px;
            margin: 322px 0 0 -108px;
            height: 315px;
            margin: 518px 0 0 -333px;
    transform: scale(0.85);
        }
    
}